<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drdev.cpdm2s2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--
                app = ca-app-pub-1406951515203568~6182640131
                add = ca-app-pub-1406951515203568/1281667246
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1406951515203568~6182640131"/>


        <activity android:name=".Activity.ExibirDetailActivity"></activity>
        <activity android:name=".Activity.EditarActivity" />
        <activity android:name=".Activity.PerfilActivity" />
        <activity android:name=".Activity.SetupActivity" />
        <activity android:name=".Activity.CriarActivity" />
        <activity android:name=".Activity.ExibirActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Service.ReminderBroadcast"/>
    </application>
</manifest>